section.gallery.gallery--narrowest
  article.gallery__item.gallery__item--s.gallery__item--vertical-align-center.gallery__item--js
    .gallery__header
      h2.gallery__large-title FOR EVERY YOU
      p.gallery__paragraph Stawiasz  na  ponadczasową klasykę  czy  podglądasz  trendy?  Kierujesz  się wygodą  czy  wyrazistością stylu?  Jeansy  czy  sukienka?  Niezależnie  od  Twoich  odpowiedzi  u  nas  znajdziesz  wszystko,  czego potrzebujesz i jeszcze więcej. Nawet jeśli za chwilę zmienisz zdanie, my pomożemy Ci zbudować szafę pełną  uniwersalnych  stylizacji  na  Twoje różne  nastroje.  PS  Zostaw tę grzywkę  w  spokoju, wyglądasz dobrze!
      
  figure.gallery__item.gallery__item--s.gallery__item--js
    .gallery__wrapper.gallery__wrapper--js
      a.gallery__link(href='#')
        picture
          source(srcset=require('../assets/images/photo-6.jpg') media='(min-width: 768px)')
          img.gallery__image(src=require('../assets/images/photo-6-m.jpg') alt='' loading='lazy')
