.header
  .header__wrapper
    img.header__image(src=require('../assets/images/americanos-logo.svg') alt='' loading='lazy')
    h1.header__title 
      span Americanos 
      span Lookbook 
      span SS22
    picture
      source(srcset=require('../assets/images/photo-1.jpg') media='(min-width: 768px)')
      img.header__image(src=require('../assets/images/photo-1-m.jpg') alt='' loading='lazy')
    