.paragraph
    span.paragraph__span
      | For every body… Taki jest Americanos. Dla wszystkich i dla każdego.  Wybieraj spośród  klasycznych  modeli  jeansów, miękkich  swetrów,  idealnie  skrojonych koszul czy ponadczasowych trampek… Wszystkie nasze ubrania zaprojektowaliśmy z dbałością o każdy detal. Z materiałów, które pozwolą im przeżyć z Tobą wiele wspólnych chwil. Z myślą o tym, że każde ciało jest piękne.