article.paragraph
  span.paragraph__span
    | Nie wierzymy w perfekcję. Wybieramy prawdziwość. Szukamy, rozwijamy się, zmieniamy… Tak samo jak  Ty.  Niczego  nie  narzucamy,  ale chętnie  proponujemy.  Nie  przypinamy  metek  tam,  gdzie  nie sąpotrzebne. Projektujemy z myślą o wygodzie i trwałości. Nasze ubrania są dobre dla&nbsp;ciała&nbsp;-&nbsp;niezależnieod rozmiaru czy płci.